<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Team1a #<%= @team1a.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/team1as" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/team1as/<%= @team1a.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit team1a
        </a>
      </div>

      <div class="col">
        <a href="/delete_team1a/<%= @team1a.id %>" class="btn btn-block btn-outline-secondary">
          Delete team1a
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@team1a.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@team1a.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

